/* You can add global styles to this file, and also import other style files */

/* PALETTE
#467302 verde scuro
#72A603 verde chiaro
#F2E8B3 sabbia chiaro
#BFA34E marrone chiaro
#735E38 marrone scuro */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #FFF;
  color: #242621;
}

h1,
h2,
h3 {
  color: #467302;
}

strong {
  color: #467302;
}
.blockquote{
  color: #467302;
}
:any-link {
  color: #467302;
}
