/* STILE HERO IMG */
.hero > img {
  height: 65vh;
  width: 100vw;
  object-fit: cover;
}
/* STILE SLOGAN */
.slogan > img {
  width: 100vw;
  padding-bottom: 50px;
}

.col {
  padding-bottom: 25px;
}
