<div class="hero">
  <img src="experience.png" alt="Experience img" class="esperience-img">
</div>
<!-- Slogan pagina destinazioni -->
<div id="destinations">
  <p class="title">FOR YOU</p>
  <p class="slogan">OGNI VIAGGIO, UNA SCOPERTA SU MISURA PER TE</p>
</div>
<!-- Le destinazioni verranno mostrate da qui getAll -->
<section class="text-center">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <p class="lead text-body-secondary">
        Crea il viaggio dei tuoi sogni, con esperienze uniche che riflettono i tuoi interessi. Salva le tue preferenze e
        inizia a vivere un'avventura responsabile.
      </p>
    </div>
  </div>
</section>

<!-- Se utente loggato partiamo con la scelta delle preferenze -->
<button class="btn btn-lg btn-success start-btn" *ngIf="!showQuestionnaire" (click)="startQuestionnaire()">
  Costruisci il tuo viaggio
</button>
<div class="container" *ngIf="showQuestionnaire">
  <div id="step1" class="step" [class.active]="currentStep === 1">
    <h2>Quale attività preferisci?</h2>
    <div class="options">
      <button (click)="selectOption($event)">Fotografia</button> 
      <button (click)="selectOption($event)">Trekking</button>
      <button (click)="selectOption($event)">Relax</button>
      <button (click)="selectOption($event)">Salute e Benessere</button>
    </div>
    <button class="btn btn-primary" (click)="stepsMng('next')">Avanti</button>
  </div>

  <div id="step2" class="step" [class.active]="currentStep === 2">
    <h2>Quale sarà il tema del tuo viaggio?</h2>
    <div class="options">
      <button (click)="selectOption($event)">Esperienziale</button>
      <button (click)="selectOption($event)">Naturalistico</button>
      <button (click)="selectOption($event)">Emozionale</button>
      <button (click)="selectOption($event)">Culturale</button>
      <button (click)="selectOption($event)">Enogastonomico</button>
      <button (click)="selectOption($event)">Famiglia</button>
    </div>
    <button class="btn btn-secondary" (click)="stepsMng('prev')">Indietro</button>
    <button class="btn btn-primary" (click)="stepsMng('next')">Avanti</button>
  </div>

  <div id="step3" class="step" [class.active]="currentStep === 3">
    <h2>Dove vorresti andare?</h2>
    <div class="options">
      <button (click)="selectOption($event)">Asia</button> 
      <button (click)="selectOption($event)">Europa</button>
      <button (click)="selectOption($event)">Africa</button>
      <button (click)="selectOption($event)">Nord America</button>
      <button (click)="selectOption($event)">Sud America</button>
    </div>
    <button class="btn btn-secondary" (click)="stepsMng('prev')">Indietro</button>
    <button class="btn btn-primary" (click)="stepsMng('next')">Avanti</button>
  </div>

  <div id="step4" class="step" [class.active]="currentStep === 4">
    <h2>Hai un budget prefissato?</h2>
    <input type="number" placeholder="Inserisci il budget" style="width: 100%; padding: 10px; margin-top: 10px;">
    <button class="btn btn-secondary" (click)="stepsMng('prev')">Indietro</button>
    <button class="btn btn-primary" (click)="finish()">Termina</button>
  </div>
</div>

<div class="spacer"></div>