<!-- Immagine a schermo intero -->
<div class="hero">
  <img src="hero.png" alt="Hero img" class="hero-img">
</div>
<!-- Slogan di Orizon -->
<div id="about" class="slogan">
  <img src="slogan.png" alt="slogan">
</div>

<!-- Sezione About us -->
<main class="container">
  <div class="col-lg- px-0">
    <h1 class="display-4 fst-italic">Benvenuti in <strong>Orizon Travel Agency</strong></h1>
    <p class="lead my-3">Siamo un agenzia di viaggi che trasforma ogni viaggio in un'esperienza significativa e
      sostenibile. La
      nostra filosofia si riassume in tre parole: <strong>Esplora, Rispetta, Scopri</strong>. Vogliamo farti scoprire il
      mondo in modo
      autentico, promuovendo un turismo responsabile che rispetta le comunità locali e l'ambiente.</p>

    <p class="lead my-3">Crediamo che ogni destinazione abbia una storia unica da raccontare, e ci impegniamo a creare
      itinerari che permettano di immergersi nelle culture locali, di vivere la natura senza lasciare tracce e di
      supportare economie locali sostenibili. Con Orizon Travel Agency, ogni viaggio diventa un'opportunità per
      crescere, rispettare e proteggere ciò che ci circonda.
    </p>
  </div>

  <!-- Card logo -->
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
      <div class="card shadow-sm">
        <img src="esplora.png" alt="esplora">
        <div class="card-body">
          <p class="lead my-3"><strong>Esplora</strong> nuovi orizzonti con occhi curiosi e rispettosi.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="rispetta.png" alt="rispetta">
        <div class="card-body">
          <p class="lead my-3"><strong>Rispetta</strong> le meraviglie della natura e le comunità locali che ci
            accolgono.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="scopri.png" alt="scopri">
        <div class="card-body">
          <p class="lead my-3"><strong>Scopri</strong> il mondo, rendendo ogni passo un atto di amore verso
            il nostro pianeta.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row g-5">
    <div class="col-md-8">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        Unisciti a noi nel viaggio verso un turismo più consapevole e responsabile.
      </h3>

      <article class="blog-post">
        <h2>Cosa si intende per turismo sostenibile</h2>

        <p class="lead my-3">L’<strong>Organizzazione Mondiale del Turismo</strong>, UNWTO, definisce il turismo
          sostenibile come un innovativo modo di
          viaggiare ed esplorare i territori, che <strong>soddisfa i bisogni dei viaggiatori, delle comunità locali,
            dell’ambiente e delle aziende</strong>, salvaguardando non solo gli equilibri ambientali, ma anche quelli
          sociali ed
          economici, offrendo allo stesso tempo nuove opportunità di sviluppo a lungo termine e per il futuro delle
          prossime generazioni.
        </p>
        <p class="lead my-3">Le comunità ospitanti acquistano così notevole importanza e diventano protagoniste della
          promozione del
          territorio con la creazione di rapporti positivi d’interazione con l’industria del turismo e i turisti stessi.
        </p>
        <h2>Obiettivi principali del turismo sostenibile
        </h2>
        <p class="lead my-3">Gli obiettivi principali del turismo sostenibile sono la riduzione dell’impatto delle
          attività turistiche
          sull’ambiente e le persone, e la salvaguardia dei territori sia dal punto di vista naturalistico, sia sociale
          ed economico.
        </p>
        <blockquote class="blockquote">
          <p>Le forme di turismo sostenibile
          </p>
        </blockquote>
        <p class="lead my-3">Oggi esistono numerose forme di turismo sostenibile, praticamente alla portata di tutti e
          in grado di
          soddisfare qualsiasi tipo di esigenza, dal soggiorno esclusivo in strutture di lusso al viaggio low cost.
        </p>
        <h3>Turismo e territorio</h3>
        <p class="lead my-3">Attraverso la riscoperta del profondo legame che lega turismo e territorio, l’attività
          turistica ha
          acquistato un inestimabile valore di conoscenza reciproca, che produce crescita economica e sociale con un
          maggiore coinvolgimento e interesse sia da parte degli abitanti locali sia dei turisti, che diventano sempre
          più consapevoli e responsabili del proprio impatto sulle località visitate e sulla vita delle persone.
        </p>
        <h3>Turismo di prossimita</h3>
        <p class="lead my-3">Il turismo di prossimità ha visto una crescita esponenziale, in particolare negli ultimi
          anni. Questo nuovo
          modo di viaggiare ed esplorare i territori si è rivelato un’occasione imperdibile per guardare luoghi consueti
          o insoliti e poco conosciuti con occhi diversi e più interessati a capirne le caratteristiche e tipicità.
        </p>
        <h3>Turismo esperienziale</h3>
        <p class="lead my-3">Viaggiare senza rimanere spettatori passivi è un’opportunità per arricchirsi di nuove
          conoscenze da portare con sé per sempre, anche una volta tornati a casa. L’obiettivo del turismo esperienziale
          è offrire una vera scuola di vita, in cui provare, sperimentare e imparare direttamente dalle persone del
          luogo tecniche artigianali e manuali in modo interattivo e coinvolgente.
        </p>
        <h3>Turismo naturalistico</h3>
        <p class="lead my-3">La natura è sempre il luogo ideale, dove ritrovare il proprio benessere e liberarsi dallo
          stress e dai ritmi
          della vita quotidiana. Il turismo naturalistico è una vera palestra di libertà, in cui dimenticare gli impegni
          per ritrovare il piacere di muoversi, camminare, esplorare e lasciarsi incantare dall’infinita bellezza di
          paesaggi unici e davvero indimenticabili.
        </p>
        <h3>Turismo emozionale</h3>
        <p class="lead my-3">Viaggiare in modo sostenibile regala sempre emozioni straordinarie. Il turismo emozionale
          mette in connessione la parte più intima e profonda dell’animo dei viaggiatori, attraverso esperienze che
          coinvolgono le emozioni, l’immaginazione e i desideri più inconsci. Il viaggio si trasforma così in un
          percorso introspettivo da vivere pienamente, in solitaria e in spazi poco affollati, dove sia possibile
          seguire i propri ritmi e sentirsi liberi di esprimere i propri sentimenti.
        </p>
        <h3>Turismo enogastronomico</h3>
        <p class="lead my-3">Il turismo enogastronomicosi propone di avvicinare i turisti direttamente ai processi di
          produzione e raccolta dei prodotti, fino a renderli protagonisti dei processi di trasformazione delle materie
          prime, generando un ritorno economico considerevole per gli abitanti e le aziende, che saranno più propensi a
          sviluppare progetti sostenibili in agricoltura, ma anche a livello turistico e nella cura e manutenzione del
          paesaggio.
        </p>
      </article>



    </div>

    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 rounded">
          <h4 class="fst-italic">Fonti e approfondimenti</h4>
          <p class="mb-0">Abbiamo raccolto informazioni e ispirazione su sostenibilità e turismo responsabile grazie a
            risorse di qualità come il blog di <a
              href="https://www.equotube.it/blog/post/turismo-sostenibile-cos-e-e-perche-oggi-e-cosi-importante.html"
              target="_blank">EquoTube</a>.
            Scopri di più su questi temi visitando il loro sito, dove
            troverai articoli e approfondimenti su come il turismo può fare la differenza per l’ambiente e le comunità
            locali.
          </p>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">Elsewhere</h4>
          <ol class="list-unstyled">
            <li><a href="https://github.com/AleDeb93/TravelAgency_Orizon" target="_blank">GitHub</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>

</main>
