/* STILE NAVBAR */
.navbar {
  /* background-color: #4CAF50; */
  position: fixed;
  z-index: 10;
  width: 100%;
}

.transapert {
  background-color: transparent;
}

.scrolled {
  /* background-image: url("../../public/hero.png"); */
  background: rgb(33, 55, 1);
  background: linear-gradient(90deg, rgba(33, 55, 1, 1) 0%, rgba(74, 61, 37, 1) 35%, rgba(33, 55, 1, 1) 100%);
}

.navbar-brand {
  color: #FAFAF5;
}

.nav-link {
  color: #FAFAF5;
}

.nav-link:hover {
  background-color: #F2E8B3;
  color: #4a3d25;
  font-weight: 550;
}

/* STILE ICONE NAVBAR */
.example-icon {
  color: #FAFAF5;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.example-icon:hover {
  background-color: #F2E8B3;
  color: #4a3d25;
}
