<!-- Topbar del sito -->
<nav class="navbar navbar-expand-lg" [ngClass]= "{ transparent: !scrolled, 'scrolled' : scrolled }">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Orizon Travel</a>

    <!-- Voci di Menu -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="" fragment="about">Chi siamo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Destinazioni</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Viaggi Tematici</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Offerte</a>
        </li>
      </ul>
    </div>
    <!-- Area personale -->
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>person</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </div>
</nav>

<router-outlet></router-outlet>

