<div class="spacer">
  <div class="row">
    <!-- Scheda utente -->
    <div class="col-sm-4">
      <mat-card class="user">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Nome utente</mat-card-title>
            <mat-card-subtitle>Status: </mat-card-subtitle>
            <img src="" mat-card-avatar />
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item><span>ID:</span> ID</mat-list-item>
            <mat-list-item><span>Email:</span> Email</mat-list-item>
            <mat-list-item><span>Genere:</span> Gender</mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>

    <!-- Ordini -->
    <div class="col-sm-8">
      <div> <!-- *ngFor="let order of orders" -->
        <mat-card class="orders">
          <mat-card-header>
            <mat-card-subtitle>Nr Ordine</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>Data ordine</p>
            <mat-card-subtitle>Pacchetti acquistati:</mat-card-subtitle>
            <br>
            <p><span>Lista items</span></p> <!-- *ngFor="let item of items" -->
          </mat-card-content>
          <!-- eventuale sezione mat car action per commento -->
        </mat-card>
        <br />
      </div>
    </div>

  </div>
</div>
