.user-info {
  padding: 30px;
  background-color: #F2E8B3;
  border-radius: 8px;
  margin: 20px;
}

.user-info .section-title {
  font-size: 30px;
  font-weight: bold;
  color: #467302;
}

.user-info .info {
  margin-top: 20px;
}

.user-info .info p {
  font-size: 18px;
  margin: 10px 0;
}

.user-info .edit-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #467302;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.user-info .edit-button:hover {
  background-color: #84bf04;
}

.order-history {
  padding: 30px;
}

.order-history .section-title {
  font-size: 30px;
  font-weight: bold;
  color: #467302;
}

.order-history .order-card {
  background-color: #BFA34E;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
}

.order-history .order-card p {
  font-size: 16px;
  margin: 5px 0;
}

.order-history .order-card strong {
  font-weight: bold;
}
