<div class="spacer"></div>

<!-- Se abbiamo cliccato registrati, ci apparirà una finestra modale con un form per registrarsi. -->
<div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog"
    id="modalSignin" *ngIf="action === 'register'">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <h1 class="fw-bold mb-0 fs-2">Registrati gratuitamente</h1>
            </div>

            <div class="modal-body p-5 pt-0">
                <form (ngSubmit)="register()">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control rounded-3" id="floatingName" [(ngModel)]="name" name="name" placeholder="name" required>
                        <label for="floatingName">Nome</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control rounded-3" id="floatingSurname" [(ngModel)]="surname" name="surname" placeholder="surname" required>
                        <label for="floatingSurname">Cognome</label>
                    </div>
                    <div class="form-floating mb-3">
                        <select class="form-control rounded-3" id="floatingGender" [(ngModel)]="gender" name="gender" required>
                            <option value="Male">Uomo</option>
                            <option value="Female">Donna</option>
                            <option value="Nonbinary">Altro</option>
                        </select>
                        <label for="floatingGender">Genere</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control rounded-3" id="floatingEmail" [(ngModel)]="email" name="email" placeholder="name@example.com" required>
                        <label for="floatingEmail">Email</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control rounded-3" id="floatingPassword" [(ngModel)]="password" name="password" placeholder="Password" required>
                        <label for="floatingPassword">Password</label>
                    </div>
                    <button class="w-100 mb-2 btn btn-lg rounded-3 btn-success" type="submit">Registrati</button>
                    <small class="text-danger" *ngIf="!isValid">Controlla i tuoi dati</small>
                    <hr class="my-4">
                    <p>Hai gia un account?</p>
                    <button class="w-100 mb-2 btn btn-lg rounded-3 btn-success" type="button" (click)="toggleForm()">Accedi</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Se abbiamo cliccato accedi ci apparirà una finestra modale con un form per accedere. -->
<div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog"
    id="modalSignin" *ngIf="action === 'login'">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <h1 class="fw-bold mb-0 fs-2">Accedi al tuo account</h1>
            </div>

            <div class="modal-body p-5 pt-0">
                <form (ngSubmit)="login()">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control rounded-3" id="floatingEmailLogin" [(ngModel)]="email" name="email" placeholder="name@example.com" required>
                        <label for="floatingEmailLogin">Email address</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control rounded-3" id="floatingPasswordLogin" [(ngModel)]="password" name="password" placeholder="Password" required>
                        <label for="floatingPasswordLogin">Password</label>
                    </div>
                    <button class="w-100 mb-2 btn btn-lg rounded-3 btn-success" type="submit">Accedi</button>
                    <small class="text-danger" *ngIf="!isValid">Email o passowrd errate</small>
                    <hr class="my-4">
                    <p>Non hai un account?</p>
                    <button class="w-100 mb-2 btn btn-lg rounded-3 btn-success" type="button" (click)="toggleForm()">Registrati</button>
                </form>
            </div>
        </div>
    </div>
</div>
