<div class="spacer" *ngIf="items.length > 0"></div>

<!-- Se uteten loginato ma cart.count === 0 -->
<section class="empty-cart" *ngIf="items.length === 0">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <!-- Image -->
                <img src="assets/images/icon/empty-cart.svg" class="h-200 h-md-300 mb-3" alt="">
                <!-- Subtitle -->
                <h2>Il tuo carello al momento è vuoto</h2>
                <!-- info -->
                <p class="mb-0">Se vuoi esplorare le nostre proposte usa il bottone qui sotto per tornare allo "Shop"
                </p>
                <!-- Button -->
                <button class="btn btn-success" routerLink="/voyages/destinations">Torna alle destinazioni</button>
            </div>
        </div>
    </div>
</section>

<!-- Se utente loginato e con prodotti nel carrello -->
<!-- *ngIf="items.length > 0" -->

<section *ngIf="items.length > 0" class="h-100 h-custom" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                    <div class="card-body p-0">
                        <div class="row g-0">
                            <div class="col-lg-8">
                                <div class="p-5">
                                    <div class="d-flex justify-content-between align-items-center mb-5">
                                        <h1 class="fw-bold mb-0">Riepilogo ordine</h1>
                                        <h6 class="mb-0 text-muted">{{items.length}} viaggi nel carrello</h6>
                                    </div>
                                    <hr class="my-4">

                                    <div *ngFor="let item of items" class="row mb-4 d-flex justify-content-between align-items-center">
                                        <!-- <div class="col-md-2 col-lg-2 col-xl-2"></div> -->
                                        <div id="itemName" class="col-md-5 col-lg-5 col-xl-5" [routerLink]="['/voyages/destinations', item.id]">
                                            <h6 class="text-muted">{{item.name}}</h6>
                                            <h6 class="mb-0">{{item.description}}</h6>
                                        </div>
                                        <!-- <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                            <button data-mdb-button-init data-mdb-ripple-init class="btn btn-link px-2"
                                            (click)="updateItemQuantity(item.id, item.buyedTickets - 1)">
                                                <i class="fas fa-minus"></i>
                                            </button>

                                            <input id="form1" min="0" name="quantity" value="1" type="number"
                                                class="form-control form-control-sm" />

                                            <button data-mdb-button-init data-mdb-ripple-init class="btn btn-link px-2"
                                            (click)="updateItemQuantity(item.id, item.buyedTickets + 1)">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </div> -->
                                        <div class="col-md-3 col-lg-3 col-xl-2 d-flex align-items-center">
                                            <button data-mdb-button-init data-mdb-ripple-init class="btn btn-link px-2"
                                                    (click)="updateItemQuantity(item.id, item.buyedTickets - 1)">
                                              <i class="fas fa-minus"></i>
                                            </button>
                                          
                                            <input id="form1"
                                                   min="0"
                                                   name="quantity"
                                                   type="number"
                                                   class="form-control form-control-sm text-center"
                                                   [(ngModel)]="item.buyedTickets"
                                                   (change)="updateItemQuantity(item.id, item.buyedTickets)" />
                                          
                                            <button data-mdb-button-init data-mdb-ripple-init class="btn btn-link px-2"
                                                    (click)="updateItemQuantity(item.id, item.buyedTickets + 1)">
                                              <i class="fas fa-plus"></i>
                                            </button>
                                          </div>
                                                                                    
                                        <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                            <p class="unitPrice">A persona:</p>
                                            <h6 class="mb-0" *ngIf="item.discount === null">{{item.price | currency:'EUR'}}</h6>
                                            <h6 class="mb-0" *ngIf="item.discount !== null">{{(item.price - (item.price * (item.discount / 100))) | currency:'EUR'}}</h6>
                                        </div>
                                        <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                          <button class="btn btn-warning" (click)="removeItem(item.id)">Rimuovi</button>
                                        </div>
                                        <hr class="my-4">
                                    </div>

                                    <div class="pt-1">
                                        <button class="btn btn-success" routerLink="/voyages/destinations">Torna alle destinazioni</button>
                                        <button class="btn btn-danger" (click)="clearCart()">Svuota il carrello</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 bg-body-tertiary">
                                <div class="p-5">
                                    <h3 class="fw-bold mb-5 mt-2 pt-1">Completa l'ordine</h3>
                                    <hr class="my-4">

                                    <h5 class="mb-3">Metodo di pagamento</h5>

                                    <div class="mb-4 pb-2">
                                        <select data-mdb-select-init [(ngModel)]="paymentMethod" class="form-select"
                                            (change)="onPaymentMethodChange()">
                                            <option value="credit_card">Carta di pagamento</option>
                                            <option value="paypal">PayPal</option>
                                            <option value="bank_transfer">Bonifico bancario</option>
                                        </select>
                                    </div>

                                    <div class="form-check form-switch">
                                        <input class="form-check-input is-valid" type="checkbox"
                                            id="flexSwitchCheckedDefault" [(ngModel)]="savePaymentData" (change)="onPaymentMethodChange()">
                                        <label>Salva i dati di pagamento</label>
                                    </div>

                                    <hr class="my-4">

                                    <div class="d-flex justify-content-between mb-5">
                                        <h5>Totale ordine</h5>
                                        <h5>{{getTotalPrice() | currency: 'EUR'}}</h5>
                                    </div>

                                    <button type="button" data-mdb-button-init data-mdb-ripple-init
                                        class="btn btn-success btn-block btn-lg" (click)="createNewOrder()">Chekout</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
