<div class="spacer"></div>
<app-loading *ngIf="loading"></app-loading>

<div class="result" *ngIf="!loading">
  <!-- Hero Section
  <div class="hero">
    <img [src]="'http://localhost:3000/' + destination.imageUrl.replace('docs/', '')" 
         alt="Destinations img" 
         class="destinations-img">
  </div> -->

  <!-- Destination Info -->
  <div id="destinations">
    <h1 class="title">destination.name</h1>
    <p class="slogan">destination.description</p>
  </div>

  <div class="spacer"></div>

  <!-- Additional Details -->
  <div class="container details">
    <div class="row">
      <div class="col-md-6">
        <p><strong>Location:</strong>destination.location</p>
        <p><strong>Theme:</strong>destination.theme</p>
      </div>
      <div class="col-md-6">
        <p><strong>Activity:</strong>destination.activity</p>
        <p><strong>Tickets:</strong>destination.tickets</p>
        <p><strong>Start Date:</strong>destination.startDate</p>
      </div>
    </div>
  </div>
</div>
