<div class="hero">
    <img [src]="'http://localhost:3000/' + destination.imageUrl.replace('docs/', '')" alt="Destinations img" class="destinations-img">
</div>

<div class="spacer"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>{{ destination.name }}</h1>
            <p>{{ destination.description }}</p>
            <p>{{ destination.country }}</p>
            <p>{{ destination.city }}</p>
            <p>{{ destination.price }}</p>
            <p>{{ destination.rating }}</p>
        </div>
    </div>
</div>
